*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

body{
    color: white;
    background-color: #27282D;
}

.form{
    text-align: center;
    padding: 20px;
}

.form h1{
padding-bottom: 20px;
}

.termos{
    margin-left: 32.5%;
    padding: 20px;
    width: 500px;
    font-size: small;
    color: whitesmoke;
}

.form [type=text], 
.form [type=email]{
    width: 100%;
    max-width: 500px;
    height: 35px;
    margin: 10px auto;
    padding-left: 10px;
    border-radius: 20px;
    font-size: 15px;
}

.form [type=submit]{
    margin-top: 20px;
    width: 100%;
    max-width: 500px;
    height: 50px;
    background-color: #006eff;
    color: white;
    cursor: pointer;
    border: 0;
    border-radius: 20px;
    font-size: 15px;
}

.autoria{
    padding-left: 35.5%;
}